$body-bg: #f3f3f0;

$primary: #4F48DB;
$secondary: #436DE0;
$danger: #E5444A;
$success: #E5DD44;
$warning: #FFC107;
$info: #17A2B8;
$light: #E54E83;
$dark: #343A40;
$white: #FFFFFF;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
"blue": $blue,
"indigo": $indigo,
"purple": $purple,
"pink": $pink,
"red": $red,
"orange": $orange,
"yellow": $yellow,
"green": $green,
"teal": $teal,
"cyan": $cyan,
"white": $white,
"gray": $gray,
"gray-dark": $gray-dark
) !default;